@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    --preferred-font-family: 'Poppins', sans-serif;
    font-family: var(--preferred-font-family);
    padding: 50px;
}

body {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode-form {
    background-color: #343a40;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 20rem;
    margin: auto;
    margin-top: 50px;
}

.dark-mode-input {
    background-color: #495057;
    border: 1px solid #495057;
    color: #ffffff;
}

.dark-mode-input::placeholder {
    color: #6c757d;
}

.dark-mode-button {
    background-color: #007bff;
    border-color: #007bff;
    color: #ffffff;
}

.dark-mode-button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    color: #ffffff;
}
.dwonload-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.vidcut {
    color: transparent;
    background: linear-gradient(to right, #ff3366, #66ff66, #3366ff);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-size: 200% 100%;
    animation: gradientAnimation 5s linear infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}